@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

body {
  margin: 0;
  font-family: 'Oxanium', cursive !important;
  background-color: #EDE4E3 !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
